
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');




html{
    text-align: center;
    background-color: white;
}



.wrapper div {
    background-color: white;
    grid-gap: 10px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first second third fourth"
    "first second third fourth"
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third{
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}


h1 {
    padding-top: 10px;
}


h2 {
    text-align: left;
    color: #3DD865;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
}

p {
    text-align: left;
    margin-bottom: 1em;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    line-height: 1.2em;
    font-family: 'Crimson Text', serif;

}

@media screen and (max-width: 850px) {
    .wrapper {
        display:inline;

} }